# Node
NODE_ENV=development

# NEXT.js
NEXT_PUBLIC_API_URL=http://localhost:3000

# Solana Configuration
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com

# Solana Programs IDs and Commerce Setup
EDGE_STORE_API_KEY=your-edgestore-api-key
SOLANA_WALLET_SECRET_KEY=your-solana-wallet-secret-key
PAYMENT_PROGRAM_ID=your-payment-program-id
MEMO_PROGRAM_ID=your-memo-program-id

# Database Configuration
DATABASE_URL=postgresql://user:password@localhost:5432/your-database?schema=public
DATABASE_TEST_URL=postgresql://test:test@localhost:5432/test?schema=public
POSTGRES_URL=postgres://default:your-password@your-host:5432/your-database?sslmode=require
POSTGRES_PRISMA_URL=postgres://default:your-password@your-host:5432/your-database?sslmode=require&pgbouncer=true&connect_timeout=15
POSTGRES_URL_NO_SSL=postgres://default:your-password@your-host:5432/your-database
POSTGRES_URL_NON_POOLING=postgres://default:your-password@your-host:5432/your-database?sslmode=require
POSTGRES_USER=default
POSTGRES_HOST=your-host
POSTGRES_PASSWORD=your-password
POSTGRES_DATABASE=your-database

# Edge Store Configuration
EDGE_STORE_ACCESS_KEY=your-edge-store-access-key
EDGE_STORE_SECRET_KEY=your-edge-store-secret-key

# Vercel Configuration
NEXT_PUBLIC_VERCEL_URL=https://your-vercel-project-url.vercel.app
